# Census Income data set 

Classification to determine whether someone makes more than 50k a year based on census level infornation 

Main purpose of this notebook is to do WOE analsis and generate WOE plots 

More about the dataset can be found here 
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
class: >50K, <=50K

Try to do the bash if else stuff -- if the file exists, don't download

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2018-08-13 19:31:53--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [text/plain]
Saving to: ‘adult.data’

adult.data          100%[===================>]   3.79M  1.72MB/s    in 2.2s

2018-08-13 19:31:56 (1.72 MB/s) - ‘adult.data’ saved [3974305/3974305]

In [1]:
ls

adult.data  Census Income .ipynb

In [115]:
import pandas as pd 
import numpy as np 
import sklearn as sk 
import matplotlib.pyplot as plt

In [116]:
columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation"\
           , "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week"\
           , "native-country", "class" ]

In [117]:
data1 = pd.read_csv("adult.data", names= columns)

In [118]:
data1.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K

In [119]:
data1.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

### Begin dealing with One Hot Encoded Variables

In [120]:
from collections import Counter

In [121]:
one_hot_var_names = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "native-country"]

In [122]:
one_hot_vars = pd.get_dummies(data1[one_hot_var_names])

In [123]:
one_hot_var_counts_before = {}
for orig_var_name in one_hot_var_names:
    one_hot_var_counts_before[orig_var_name] = sum([1 if orig_var_name in dummy_var_name else 0 \
                                             for dummy_var_name in one_hot_vars.columns ])

In [124]:
one_hot_var_counts_before

{'workclass': 9,
 'education': 16,
 'marital-status': 7,
 'occupation': 15,
 'relationship': 6,
 'race': 5,
 'native-country': 42}

In [125]:
one_hot_vars.columns

Index(['workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th',
       'education_ 11th', 'education_ 12th', 'education_ 1st-4th',
       'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th',
       'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors',
       'education_ Doctorate', 'education_ HS-grad', 'education_ Masters',
       'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'marital-status_ Divorced',
       'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'occupation_ ?', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'relationship_ Husband',
       'relationship_ Not-in-family', 'relationship_ Other-relative',
       'relationship_ Own-child', 'relationship_ Unmarried',
       'relationship_ Wife', 'race_ Amer-Indian-Eskimo',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'native-country_ ?', 'native-country_ Cambodia',
       'native-country_ Canada', 'native-country_ China',
       'native-country_ Columbia', 'native-country_ Cuba',
       'native-country_ Dominican-Republic', 'native-country_ Ecuador',
       'native-country_ El-Salvador', 'native-country_ England',
       'native-country_ France', 'native-country_ Germany',
       'native-country_ Greece', 'native-country_ Guatemala',
       'native-country_ Haiti', 'native-country_ Holand-Netherlands',
       'native-country_ Honduras', 'native-country_ Hong',
       'native-country_ Hungary', 'native-country_ India',
       'native-country_ Iran', 'native-country_ Ireland',
       'native-country_ Italy', 'native-country_ Jamaica',
       'native-country_ Japan', 'native-country_ Laos',
       'native-country_ Mexico', 'native-country_ Nicaragua',
       'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru',
       'native-country_ Philippines', 'native-country_ Poland',
       'native-country_ Portugal', 'native-country_ Puerto-Rico',
       'native-country_ Scotland', 'native-country_ South',
       'native-country_ Taiwan', 'native-country_ Thailand',
       'native-country_ Trinadad&Tobago', 'native-country_ United-States',
       'native-country_ Vietnam', 'native-country_ Yugoslavia'],
      dtype='object')

In [126]:
all_one_hot_vars_mean = one_hot_vars.mean(axis = 0)
pd.Series(all_one_hot_vars_mean).describe()

count    100.000000
mean       0.070000
std        0.157372
min        0.000031
25%        0.001566
50%        0.012761
75%        0.053784
max        0.895857
dtype: float64

Notice there are over 100 unique fields with most of them being less than 1.5% full..  
Let's keep the ones with more than 10% coverage. It should be around 70% or ~30 one hot encoded variables

In [127]:
min_pct_good = 0.10
good_one_hot_var_names = all_one_hot_vars_mean[all_one_hot_vars_mean > min_pct_good].index
print("Number of good vars: ", len(good_one_hot_var_names))
good_one_hot_var_names

Number of good vars:  19

Index(['workclass_ Private', 'education_ Bachelors', 'education_ HS-grad',
       'education_ Some-college', 'marital-status_ Divorced',
       'marital-status_ Married-civ-spouse', 'marital-status_ Never-married',
       'occupation_ Adm-clerical', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Other-service',
       'occupation_ Prof-specialty', 'occupation_ Sales',
       'relationship_ Husband', 'relationship_ Not-in-family',
       'relationship_ Own-child', 'relationship_ Unmarried', 'race_ White',
       'native-country_ United-States'],
      dtype='object')

In [128]:
good_one_hot_vars = one_hot_vars[good_one_hot_var_names]

In [129]:
one_hot_var_counts_after = {}
for orig_var_name in one_hot_var_names:
    one_hot_var_counts_after[orig_var_name] = sum([1 if orig_var_name in dummy_var_name else 0 \
                                             for dummy_var_name in good_one_hot_vars.columns ])

In [130]:
# Number of variables before and after 
pd.DataFrame([one_hot_var_counts_before,one_hot_var_counts_after], index = ["before", "after"]).T

                before  after
education           16      3
marital-status       7      3
native-country      42      1
occupation          15      6
race                 5      1
relationship         6      4
workclass            9      1

### Combine the one hots

In [176]:
data2 = data1.drop(one_hot_var_names, axis = 1)
data2 = pd.concat([data2, good_one_hot_vars], axis = 1)
# Fix the binary cats

In [177]:
print("Unique sex: ", data2["sex"].unique())
print("Unique class: ", data2["class"].unique())

Unique sex:  [' Male' ' Female']
Unique class:  [' <=50K' ' >50K']

In [178]:
data2["sex"] = data2["sex"].apply(lambda x: 1 if x == " Male" else 0)
data2["class"] = data2["class"].apply(lambda x: 1 if x == " <=50K" else 0)

In [179]:
data2.shape

(32561, 27)

In [180]:
data2.head()

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,class,workclass_ Private,education_ Bachelors,...,occupation_ Exec-managerial,occupation_ Other-service,occupation_ Prof-specialty,occupation_ Sales,relationship_ Husband,relationship_ Not-in-family,relationship_ Own-child,relationship_ Unmarried,race_ White,native-country_ United-States
0,39,77516,13,1,2174,0,40,1,0,1,...,0,0,0,0,0,1,0,0,1,1
1,50,83311,13,1,0,0,13,1,0,1,...,1,0,0,0,1,0,0,0,1,1
2,38,215646,9,1,0,0,40,1,1,0,...,0,0,0,0,0,1,0,0,1,1
3,53,234721,7,1,0,0,40,1,1,0,...,0,0,0,0,1,0,0,0,0,1
4,28,338409,13,0,0,0,40,1,1,1,...,0,0,1,0,0,0,0,0,0,0

In [181]:
data2.describe()

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,class,workclass_ Private,education_ Bachelors,...,occupation_ Exec-managerial,occupation_ Other-service,occupation_ Prof-specialty,occupation_ Sales,relationship_ Husband,relationship_ Not-in-family,relationship_ Own-child,relationship_ Unmarried,race_ White,native-country_ United-States
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,...,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,0.669205,1077.648844,87.303830,40.437456,0.759190,0.697030,0.164461,...,0.124873,0.101195,0.127146,0.112097,0.405178,0.255060,0.155646,0.105832,0.854274,0.895857
std,13.640433,1.055500e+05,2.572720,0.470506,7385.292085,402.960219,12.347429,0.427581,0.459549,0.370699,...,0.330580,0.301591,0.333142,0.315491,0.490934,0.435901,0.362525,0.307627,0.352837,0.305451
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,0.000000,40.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,37.000000,1.783560e+05,10.000000,1.000000,0.000000,0.000000,40.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,48.000000,2.370510e+05,12.000000,1.000000,0.000000,0.000000,45.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,90.000000,1.484705e+06,16.000000,1.000000,99999.000000,4356.000000,99.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Probably some null values that need imputing in capital gains and hours per week

### Final preps for algorithms

In [182]:
from sklearn.model_selection import train_test_split

In [183]:
data3 = data2
data3["intercept"] = 1.0

In [184]:
X = data3.drop(["class"], axis = 1)
Y = data3["class"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

### Logistic Regression

In [ ]:
import statsmodels.api as sm

In [193]:
logit = sm.Logit(y_train, X_train)

In [202]:
results = logit.fit()

Optimization terminated successfully.
         Current function value: 0.326600
         Iterations 9

In [204]:
# Quick work around for an error
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [205]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  class   No. Observations:                21815
Model:                          Logit   Df Residuals:                    21788
Method:                           MLE   Df Model:                           26
Date:                Mon, 13 Aug 2018   Pseudo R-squ.:                  0.4105
Time:                        21:20:43   Log-Likelihood:                -7124.8
converged:                       True   LL-Null:                       -12085.
                                        LLR p-value:                     0.000
======================================================================================================
                                         coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
age                                   -0.0249      0.002    -13.051      0.000      -0.029      -0.021
fnlwgt                             -7.164e-07   2.01e-07     -3.559      0.000   -1.11e-06   -3.22e-07
education-num                         -0.2963      0.013    -22.249      0.000      -0.322      -0.270
sex                                   -0.7258      0.091     -7.983      0.000      -0.904      -0.548
capital-gain                          -0.0003   1.23e-05    -25.362      0.000      -0.000      -0.000
capital-loss                          -0.0006   4.37e-05    -13.340      0.000      -0.001      -0.000
hours-per-week                        -0.0288      0.002    -15.242      0.000      -0.032      -0.025
workclass_ Private                    -0.2077      0.046     -4.502      0.000      -0.298      -0.117
education_ Bachelors                   0.0266      0.064      0.414      0.679      -0.099       0.152
education_ HS-grad                     0.0406      0.065      0.628      0.530      -0.086       0.167
education_ Some-college               -0.0647      0.065     -0.990      0.322      -0.193       0.063
marital-status_ Divorced               0.0352      0.132      0.267      0.790      -0.223       0.294
marital-status_ Married-civ-spouse    -2.7923      0.236    -11.853      0.000      -3.254      -2.331
marital-status_ Never-married          0.4883      0.137      3.569      0.000       0.220       0.756
occupation_ Adm-clerical              -0.2833      0.087     -3.273      0.001      -0.453      -0.114
occupation_ Craft-repair              -0.2550      0.068     -3.777      0.000      -0.387      -0.123
occupation_ Exec-managerial           -0.9853      0.068    -14.500      0.000      -1.118      -0.852
occupation_ Other-service              0.5521      0.126      4.376      0.000       0.305       0.799
occupation_ Prof-specialty            -0.6712      0.076     -8.817      0.000      -0.820      -0.522
occupation_ Sales                     -0.4560      0.074     -6.198      0.000      -0.600      -0.312
relationship_ Husband                  1.0839      0.114      9.467      0.000       0.860       1.308
relationship_ Not-in-family           -0.0651      0.212     -0.307      0.759      -0.480       0.350
relationship_ Own-child                1.3736      0.240      5.732      0.000       0.904       1.843
relationship_ Unmarried                0.0685      0.232      0.296      0.767      -0.386       0.523
race_ White                           -0.1464      0.071     -2.062      0.039      -0.285      -0.007
native-country_ United-States         -0.2805      0.078     -3.619      0.000      -0.432      -0.129
intercept                              9.3780      0.326     28.773      0.000       8.739      10.017
======================================================================================================
"""

### Let's also try WOE's

Link for the WOE's documentation...
and find something to turn it into SQL  

https://github.com/boredbird/woe

In [212]:
import woe

In [211]:
??woe.feature_process

Object `woe.feature_process` not found.

In [213]:
import woe.feature_process as fp